.navbar{
    height: 15vh;
    width: 100%;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

}
.navbar>img{
    height: 90%;
}

ul{
    display: flex;
    width: 40%;
   
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 18px;
}


.hero{
    background-image: url(https://images2.alphacoders.com/101/thumb-1920-1019901.jpg);
    height: 100vh;
    width: 100%;
   filter: brightness(85%);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.hero>h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 39px;
    font-weight: lighter;
}

.hero>h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 29px;
    font-weight: lighter;

}

.vm,.on{
    height: 50px;
    width:150px ;
    margin: 10px;
    border-radius: 5px;
}

.on{
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: #caac00;
    font-size: 19px;
    border:  2px solid #caac00;

}

.vm{
    background-color: #caac00;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-size: 19px;
    border:  2px solid #caac00;
}


.menu-items{
    height: 200vh;
    width: 90vw;
  
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin-top: 40px;
}

.dishes{
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  
    height: 45vh;
    width: 20vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.d1{
    height: 70%;
    width: 90%;
  
  
    display: flex;
    align-items: center;
    justify-content: center;   
    margin: auto; 
    
}

.d1>img{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

.d2{
    height: 20%;
    width: 90%;
  
    
    display: flex;
    flex-direction: column;

    justify-content: center;   
    margin: auto; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.d2>a{
    color: #caac00;
    font-size: 16px;
    margin-top: -10px;
}